<!--Colocamos el titulo de la aplicación-->
<mat-toolbar color="primary">
    <span>Listado de Personas</span>
  </mat-toolbar>
  <mat-card>
  <mat-card-content>
    <!--Si queremos bajar la sombra con cambiar z8 por otro numero nos serviria-->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note Tenga en cuenta que estas columnas se pueden definir en cualquier orden.
        Las columnas renderizadas reales se establecen como una propiedad en la definición de fila"" -->

  <!-- Nombre Columna -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>
   <!-- Apellido Columna -->
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido</th>
    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
  </ng-container>
  <!-- Tipo de documento Columna -->
  <ng-container matColumnDef="tipoDocumento">
    <th mat-header-cell *matHeaderCellDef> Tipo de documento</th>
    <td mat-cell *matCellDef="let element"> {{element.tipoDocumento}} </td>
  </ng-container>
  <!-- Correo Columna -->
  <ng-container matColumnDef="correo">
    <th mat-header-cell *matHeaderCellDef> Correo</th>
    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
  </ng-container>
  <!-- Documento Columna -->
  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef> Documento</th>
    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
  </ng-container>
  <!-- Fecha de nacimiento Columna -->
  <ng-container matColumnDef="fechaNacimiento">
    <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento</th>
    <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date:'dd/MM/yyyy' }} </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


  </mat-card-content>
</mat-card>
